/*root allows us to declare CSS variables. the root keyword is a sort of scope,
in this ,case root refers to the html document*/
:root {
  /* We are declaring our variables here */
  --base: #961010;
  --spacing: 10px;
  --blur: 10px;
}

img {
  /*Now, our padding on our image is based of our padding variable */
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
}

body {
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}
